/* VARIABLES  */
:root{
    /* Ccolor  */
    --color-btn-header:#363636;
    --color-btn-jumbotron: #cd3d0f;
    --color-btn-main: #2d64e6;
    --color-btn-main-w:#f5f5f5;
    --color-btn-main-opaco:#d9dadc;
    --color-black: black;

    /* Color text  */
    --color-tx-main-g:#727272;
    --color-tx-main-w:white;
}

/* COMMON  */
html{
    font-size: 100%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

img{
    width:100%;
}

.container{
    border: 2px solid yellowgreen;
}

.ms_container{
    width: 60%;
    margin: 0 auto;
    border: black;
}

/* HEADER  */
.ms_header{
    height: 100px;
}

/* header-top  */
.ms_header-top{
    height:30px;
}

.ms_header-top img{
    width: 5rem;
}

/* header-bottom  */
.ms_header-bottom{
    height: 70px;  
}

.ms_header-bottom .dropdown-toggle::after{
    display: none;
}

.ms_header-bottom .ms_chevron{
    width: 10px;
}

.ms_header-bottom img{
    width: 90px;
}

.ms_header-bottom .ms_header-btn-a{
    background-color: black;
    color: white;
}

.ms_header-bottom .ms_header-btn-a:hover{
    outline-offset: 1px;
    outline:4px solid black;
}

.ms_header-bottom .dropdown-menu li{
    display: inline-block;
}

/*JUMBOTRON  */
.ms_jumbotron{
    margin-top: 100px;
}

/* JUMBOTRON-TOP  */
.ms_jumbotron-top{
   background-image: url(../img/jumbo-bg.png);
   background-position: top;
   background-repeat: no-repeat;
   padding: 16rem 0 3rem;
}

.ms_jumbotron-tx{
  color: var(--color-tx-main-w);  
}

.ms_jumbotron-tx .ms_jumbo-title{
    padding-bottom:1.5rem ;
}

/* JUMBOTRON-BOTTOM */
.ms_jumbotron-bottom img{
    border-radius:10px;
    transition: all 1s;
}

.ms_jumbotron-bottom img:hover{
    transform: translateY(-30px);
}

.ms_jumbotron-top .ms_jumbotron-top-a{
    background-color:#cd3d0f;
    color:white;
}

.ms_jumbotron-top .ms_jumbotron-top-a:hover{
    outline-offset: -3px;
    outline:1px solid black;
}

/* MAIN-UNO  */
.ms_main-uno .ms_a-link{
    color: inherit;
    color: #2181d3;
}

.ms_main-uno .ms_a-link .ms_a-tx{
    font-size: .8rem;
}

.ms_main-uno .ms_main-h4{
    font-size: 2rem;
}

.ms_main-uno,
.ms_main-quattro .ms_main-fkp{
    font-size: 1.1rem;
    color: var(--color-tx-main-g);
}
.ms_main-uno .ms_main-uno-a:hover{
    outline-offset: -3px;
    outline:1px solid white;
}

.ms_main-uno .ms_main-uno-console{
   padding-top: 11rem;
}

.ms_main-uno .ms_main-uno-img{
    width: 100px;
    opacity: .5;
 }

 .ms_main-uno .ms_main-uno-cards{
    position: relative;
}

 .ms_main-uno-border{
    border: 1px solid #388bd7;
    background-color: #388bd7;
    height: 4px;
    width: 100%;
    border-radius:20px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
 }

 .ms_main-uno .ms_main-uno-cards:hover .ms_main-uno-img{
    opacity: 1;
}

 .ms_main-uno .ms_main-uno-cards:hover .ms_main-uno-border{
     display:block;
 }


/* MAIN-DUE  */
.ms_main-due{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: top;
    background-repeat: no-repeat;
    padding: 4rem 0 3rem;
}

/* MAIN-TRE  */
.ms_main-tre{
    background-color:#363636;
}

.ms_main-tre-text,
.ms_main-tre-tx{
    color: var(--color-tx-main-w);
}

.ms_main-due .ms_main-due-a:hover{
    outline-offset: -3px;
    outline:1px solid white;
}

.ms_main-tre img{
    border: 1px solid #363636;
    border-radius:10px ;
}
/* MAIN_QUATTRO  */
.ms_main-quattro .card .card-text{
    color: var(--color-tx-main-g);
}

.ms_main-quattro .card{
    border: none;
}

.ms_main-quattro a:hover{
    outline-offset: -3px;
    outline:1px solid white;
} 

/* .ms_jumbotron-top .ms_jumbotron-top-a{
    background-color:#cd3d0f;
    color:white;
}

.ms_jumbotron-top .ms_jumbotron-top-a:hover{
    outline-offset: -3px;
    outline:1px solid black;
} */
/*  MAIN-CINQUE */
.ms_main-cinque{
    background-color: #bebcbb;
}

.ms_main-cinque .ms_main-cinque-a{
    color:#2d64e6;
}

.ms_main-cinque .ms_main-cinque-a:hover {
    outline-offset: -3px;
    outline:1px solid #2d64e6;
}

.ms_main-cinque .ms_main-cinque-p{
    color: black;
}

.ms_main-cinque .ms_main-cinque-a{
    border:none;
    background-color: var(--color-btn-main-opaco);
}
.ms_main-cinque .ms_main-cinque-img-lateral{
    display: none;
}

.ms_main-cinque .ms_main-cinque-img-lateral .ms_main-cinque-back-img {
   height: 100%; 
}

@media screen and (min-width:768px){
    
    .ms_main-cinque .ms_main-cinque-img-lateral{
        display: inline-block;
    }
}

/* MAIN-SEI */
.ms_main-sei .ms_main-sei-subtitle {
    color: var(--color-tx-main-g);
}

/* MAIN-SETTE */
.ms_main-sette{
    background-color: #161c3b;
}

.ms_main-sette .ms_main-sette-img-lateral{
    display:none;
}

.ms_main-sette .ms_main-cinque-a{

}

.ms_main-sette .ms_main-cinque-a:hover{
    outline-offset: -3px;
    outline:1px solid black;
}

@media screen and (min-width:768px){
    
    .ms_main-sette .ms_main-sette-img-lateral{
        display: inline-block
    }
}

@media screen and (min-width:992){
    .ms_main-sette-logo{
        padding-top:4rem;
    }
}

/* FOOTER */
.ms_footer{
    background-color: #11439c;
    color: white;
}
/* FOOTER-TOP  */
.ms_footer-top .ms_footer-top-logo{
    width: 100px;
}

.ms_footer-top .ms_footer-top-language-glob{
    width: 15px;
}

.ms_footer-top .ms_main-top-tx{
  font-size: .6rem;  
}

.ms_footer-top ul li{
   list-style: none; 
}

.ms_footer-top ul li a{
    color:inherit; 
    text-decoration: none;
}

/* FOOTER-BOTTOM */
.ms_footer-bottom .ms_footer-bottom-logo{
    width: 150px;
}