/* VARIABLES  */
:root{
    /* Ccolor  */
    --color-btn-header:#363636;
    --color-btn-jumbotron: #cd3d0f;
    --color-btn-main: #2d64e6;
    --color-btn-main-w:#f5f5f5;
    --color-btn-main-opaco:#d9dadc;
    --color-black: black;

    /* Color text  */
    --color-tx-main-g:#727272;
    --color-tx-main-w:white;
}

/* COMMON  */
html{
    font-size: 100%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

img{
    width:100%;
}

.container{
    border: 2px solid yellowgreen;
}

.ms_container{
    width: 60%;
    margin: 0 auto;
    border: black;
}

/* HEADER  */
.ms_header{
    height: 100px;
}

/* header-top  */
.ms_header-top{
    height:30px;
}

.ms_header-top img{
    width: 5rem;
}

.ms_header-top img{
    width: 5rem;
}

/* header-bottom  */
.ms_header-bottom{
    height: 70px;  
}

.ms_header-bottom .dropdown-toggle::after{
    display: none;
}

.ms_header-bottom .ms_chevron{
    width: 10px;
}

/*JUMBOTRON  */
.ms_jumbotron{
    margin-top: 100px;

}

.ms_jumbotron-top{
   background-image: url(../img/jumbo-bg.png);
   background-position: top;
   background-repeat: no-repeat;
   padding: 16rem 0 3rem;
}

.ms_jumbotron-tx{
  color: var(--color-btn-main-w);  
}

.ms_jumbotron-tx .ms_jumbo-title{
    padding-bottom:1.5rem ;
}

.ms_jumbotron-bottom img{
    border: 1px solid white;
    border-radius:10px ;
    background-color: #f3e40b;
}

/* MAIN-UNO  */
.ms_main-uno .ms_a-link{
    color: inherit;
    color: #2181d3;
}

.ms_main-uno .ms_a-link .ms_a-tx{
    font-size: .8rem;
}

.ms_main-uno .ms_main-h4{
    font-size: 2rem;
}

.ms_main-uno .ms_main-fkp{
    font-size: 1.1rem;
    color: var(--color-tx-main-g);
}

.ms_main-uno .ms_main-uno-console{
   padding-top: 11rem;
}

.ms_main-uno .ms_main-uno-img{
    width: 100px;
 }


/* MAIN-DUE  */
.ms_main-due{
    background-color:#cd3d0f ;
    height: 300px;
}

/* MAIN-TRE  */
.ms_main-tre{
    background-color:#363636;
    /* height: 300px; */
}

/* MAIN_QUATTRO  */
.ms_main-quattro{
  background-color: red;
}

/*  MAIN-CINQUE */
.ms_main-cinque{
    background-color: bisque;
}

/* MAIN-SEI */
.ms_main-sei{
    background-color: darksalmon;
}

/* MAIN-SETTE */
.ms_main-sette{
    background-color: greenyellow;
}

/* FOOTER */
.ms_footer{
    /* background-color: #2d64e6; */
}
/* FOOTER-TOP  */
.ms_footer-top{
    /* background-color: #2d64e6; */
}
/* FOOTER-BOTTOM */
.ms_footer-bottom{
    /* background-color: #2d64e6; */
}